<footer>
    <p>
        <a href="https://www.instagram.com/jayymeson/" target="_blank"
        >> @jayymeson</a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/jaymesonmendes/" target="_blank"
        >> LinkedIn</a>

    </p>
    </footer>