<header>

        <h1><img id="logo" src="https://o.remove.bg/downloads/2826e672-d081-45e5-882e-81fde9c82f3c/Screenshot_1-removebg-preview.png" alt="Logo do Pokedex"></h1>

    <nav>
         <ul>
             <a href="/"><li> <button id="home" >Home</button></li> </a>
             <a href="/register"><li> <button id="register">Register</button></li></a>
         </ul>
    </nav>
</header>

