@font-face {font-family: "Pokemon Fire Red"; src: url("//db.onlinewebfonts.com/t/1c1b3fdb31c3460a94aa5f52255b0388.eot"); src: url("//db.onlinewebfonts.com/t/1c1b3fdb31c3460a94aa5f52255b0388.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1c1b3fdb31c3460a94aa5f52255b0388.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1c1b3fdb31c3460a94aa5f52255b0388.woff") format("woff"), url("//db.onlinewebfonts.com/t/1c1b3fdb31c3460a94aa5f52255b0388.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1c1b3fdb31c3460a94aa5f52255b0388.svg#Pokemon Fire Red") format("svg"); }

body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: rgb(0, 0, 0);
	margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Fire Red', sans-serif;
                                                
}

header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
}

header a {
    text-decoration: none;
}

header ul{
    list-style: none;
}

header button#home {
    color: #000000;
    background-color: #ec162c;
    height: 40px;
    width: 100px;
    line-height: 0;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    display: block;
    justify-content: center;
    margin: auto;
}

header button#register {
    color: #000000;
    background-color: #ec162c;
    height: 40px;
    width: 100px;
    line-height: 0;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    display: block;
    justify-content: center;
    margin: auto;
}

header img#logo {
    height: 100%;
}

main {
    margin: 0 10rem 0 10rem;
}

section#cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}

section#cards article.cards {
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000015;
    padding: 1rem;
    margin-top: 3rem;
}

section#cards article.cards img {
    width: 100%;
}

section#cards article.cards h2 {
    margin-bottom: 1rem;
}

section#cards article.cards p.description {
    margin-bottom: 1rem;
}

section#register {
    display: flex;
    padding: 3rem;
    justify-content: center;
    flex-wrap: wrap;

}

section#register h2 {
    font-size: 54px;
    text-align: center;
    padding-bottom: 3rem;
}

section#register form {
    width: 50%;
        
}

section#register form input {
    width: 100%;
    padding: .6rem;
    font-size: 1rem;
    outline: none;
    border: solid 1.5px ;
    margin: 0 1rem 1rem 1rem;
}

section#register form label {
    font-size: 25px;
    margin: 1rem;
    color: rgb(0, 0, 0);

}


section#register form button {
    color: #000000;
    background-color: #80222b;
    height: 80px;
    width: auto;
    line-height: 0;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    justify-content: center;
    margin: auto;
    
}

footer {
    font-size: 20px;
    margin: 10px;
}

 a {
    text-decoration: none;
    color: black;
}
